set noerrorbells
set number relativenumber
set backspace=indent,eol,start
set showmatch
set hlsearch
set ideajoin
set commentary

let mapleader = " "

" Unhighlight search
map <C-g> :noh<CR>

" Prevent annoying 'Not an editor command' error
cnoreabbrev ww WriteWithSudo
cnoreabbrev WW WriteWithSudo
cnoreabbrev W w
cnoreabbrev Q q
cnoreabbrev Wq wq
cnoreabbrev wQ wq
cnoreabbrev WQ wq

" Awesome code movement trick
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

 " Resize windows
nnoremap <silent> <leader>+ :exe "resize " . (winheight(0) * 3/2)<CR>
nnoremap <silent> <leader>- :exe "resize " . (winheight(0) * 2/3)<CR>

" copy and pase from clipboard
vnoremap <leader>y" "+y
nnoremap <leader>Y" "+yg_
nnoremap <leader>y" "+yy
nnoremap <leader>p "+p"
nnoremap <leader>P "+P"
vnoremap <leader>p "+p"
vnoremap <leader>P "+P"

" center cursor when <C-u> and <C-d>
nnoremap <C-u> <C-u>zz0
nnoremap <C-d> <C-d>zz0

" center cursor when cycling through search
nnoremap n nzzzv
nnoremap N Nzzzv

" indent while in visual mode
vnoremap > >gv
vnoremap < <gv

" move selected block
vnoremap K :m <-2<CR>gv=gv
vnoremap J :m <+1<CR>gv=gv

" maintain copied text after visual paste
vnoremap p "_dP
